#bottom_tab_navigation{
    width: 100%;
    box-shadow: 0 0 3px rgb(195, 195, 195);
    position: fixed;
    bottom:0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}
#root{
    width: 100%;
    height: 100vh;
}
#bottom_tab_route_list{
    display: flex;
    list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}
#bottom_tab_route_list li{
    cursor: pointer;
}
body{
    overflow: hidden;
}